* {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  margin: 2rem 0rem;
}

.site-header > a {
  margin-right: 2rem;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
}

button {
  width: 75px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

select {
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

select.error {
  border: 2px solid;
}

textarea {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

#userSession {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

#userIn > a {
  margin-right: 1rem;
}

#userOut {
  display: none;
}

#time {
  margin-left: 0.5rem;
}

#header button {
  width: 40px;
  height: 100%;
  font-size: 20px;
  border-radius: 40px;
}

#header {
  padding: 10px;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}

#container {
  width: 770px;
}

#navigation {
  padding: 10px;
  font-size: 15px;
  display: flex;
}

#navigation span {
  margin-right: 2rem;
  margin-top: 5px;
}

#dateButton {
  font-size: 15px;
  margin-top: none !important;
}

#weekdays {
  width: 100%;
  display: flex;
}

#weekdays div {
  width: 100px;
  padding: 10px;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  padding: 10px;
  height: 90px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event {
  font-size: 10px;
  padding: 3px;
  border-radius: 75px;
  width: 70px;
  max-height: 55px;
  overflow: hidden;
}

.padding {
  cursor: default !important;
  box-shadow: none !important;
}

#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
}

#eventTitleInput.error {
  border: 2px solid;
}

#eventDesc {
  font-size: 15px;
}

#eventTime {
  font-size: 15px;
  margin-bottom: 20px;
}

#eventTimeSelector {
  margin-bottom: 25px;
}

#eventTimeSelector span {
  font-size: 15px;
}

#eventTimeSelector div {
  font-size: 10px;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  position: fixed;
}

.hidden {
  opacity: 0;
}

#topheader {
  justify-content: center;
}

.switch {
  margin: 1rem 0rem;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -3.5px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #35455d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: #35455d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: #35455d;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

#themeSwitcher {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#themeSwitcher > div {
  color: #35455d;
  font-size: 13px;
}

#sourceLink {
  margin-left: 0.75rem;
  font-size: 12px;
  font-style: italic;
}

#sourceLink > a {
  transition: 0.2 ease-in-out;
}
